name: Push-Release

on:
  push:
    branches:
      - master

jobs:
  unix:
    runs-on: ubuntu-latest
    name: Unix Release
    steps:
      - name: Checkout Packaging Repository
        uses: actions/checkout@v2
        with:
          repository: 'TylerSpears/OpenTabletDriver.Packaging'
      - name: Checkout OpenTabletDriver Repository
        uses: actions/checkout@v2
        with:
          repository: 'TylerSpears/OpenTabletDriver'
          path: 'src/OpenTabletDriver'
      - name: Checkout OpenTabletDriver-udev Repository
        uses: actions/checkout@v2
        with:
          repository: 'OpenTabletDriver/OpenTabletDriver-udev'
          path: 'src/OpenTabletDriver-udev'
          submodules: false
      - name: Link modules
        run: |
          rm -rf ${GITHUB_WORKSPACE}/src/OpenTabletDriver-udev/.modules/OpenTabletDriver; ln -s ${GITHUB_WORKSPACE}/src/OpenTabletDriver ${GITHUB_WORKSPACE}/src/OpenTabletDriver-udev/.modules/OpenTabletDriver
          if [ -e ${GITHUB_WORKSPACE}/src/OpenTabletDriver-udev/.modules/OpenTabletDriver ]; then echo "Successfully linked."; else exit 1; fi
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0'
          include-prerelease: True
      - name: Debian Build
        run: ./Debian/package build
      - name: Generic Linux Build
        run: ./Linux/package build
      - name: MacOS Build
        run: ./MacOS/package build
      - name: Automatic Pre-Release
        uses: "marvinpinto/action-automatic-releases@latest"
        with:
          repo_token: "${{ env.GITHUB_TOKEN }}"
          automatic_release_tag: "latest"
          prerelease: true
          title: "Development Build"
          files: |
            Debian/OpenTabletDriver.deb
            Linux/OpenTabletDriver.linux-x64.tar.gz
            MacOS/OpenTabletDriver.osx-x64.tar.gz
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
